/* Описание блока */
.example {
    /* add rules */

    /* Описание элемента блока */
    &__item {
        /* add rules */

        /* Описание модификатора */
        &.m--modifier {
            /* add rules */
        }

        /* Описание стейта */
        &.is-loading {
            /* add rules */
        }
    }
}
