/* ---- FORM STYLES ---- */

/*
.common-input(){
    // .box-sizing(border-box);
    // .border-radius(2px);
    // .box-shadow(inset 1px 1px 4px fade(#000000, 20%));
    // border: 1px solid lighten(#3c3b40, 60%);
    // padding: 15px;
    // font-size: 18px;
}
 */

.form {
    margin-bottom: 20px;
    margin-top: 30px;

    .short_text input,
    .e_mail input,
    .long_text textarea {
        width: 80%;

        /* .common-input; */
    }

    .long_text textarea {
        max-height: 400px;
        min-height: 200px;
        max-width: 100%;
        min-width: 100%;
    }

    .short_text input:focus,
    .e_mail input:focus,
    .long_text textarea:focus,
    .captcha input:focus {
        /* add rules */
    }

    &__item {
        /* .clearfix; */

        margin-bottom: 15px;

        &.m--remark {
            font-style: italic;
        }

        &.m--error {
            color: #cc0000;

            &.short_text input,
            &.e_mail input,
            &.long_text textarea,
            &.captcha input {
                border: 1px solid #cc0000;
                background: #fae6e6;
            }
        }

        &.m--required {
            /* add rules */
        }
    }

    &__label {
        margin-bottom: 10px;
        font-size: 16px;
    }

    &__required-star {
        color: #cc0000;
    }

    &__comment {
        display: block;
        font-size: 11px;
        color: #666666;
        margin-bottom: 5px;
        margin-top: 5px;
        font-style: italic;
    }

    &__submit {
        margin-top: 10px;

        &-button {
            /* add rules */
        }
    }

    &__column {
        /* .clearfix; */
        margin-left: 50%;
    }

    /* ---- FORM CUSTOMIZATIONS ---- */
}

/* ---- CAPTCHA ---- */

.captcha {
    margin-top: 5px;
    margin-bottom: 20px;

    &__label {
        float: none;
        width: auto;
        display: block;
        margin-bottom: 10px;
        margin-left: 0;
    }

    &__image {
        /* add rules */
    }

    &__input {
        width: auto;
        vertical-align: middle;

        /* .common-input; */
    }

    &__img {
        vertical-align: middle;
        margin-right: 10px;
    }

    &__comment {
        /* add rules */
    }

    &.m--error {
        color: #cc0000;

        .captcha__input {
            border: 1px solid #cc0000;
            background: #fae6e6;
        }
    }
}

