html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    min-height: 100%;
    font: normal normal 14px/16px Arial, Tahoma, Verdana, sans-serif;
    background: #ffffff url("$(bg)/test.jpg") 0 0 no-repeat;
    position: relative;
    color: $color-text;
}

/* ---- COMMON STYLES ---- */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.ov {
    overflow: hidden;
}

.hd {
    display: none;
}

.cll {
    clear: left;
}

.clr {
    clear: right;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.br {
    position: relative;
    clear: both;
    height: 0;
    overflow: hidden;
}

.wsn {
    white-space: nowrap;
}

.img-left {
    float: left;
    margin: 0 20px 0 0;
}

.img-right {
    float: right;
    margin: 0 0 0 20px;
}

dl {
    dt {
        float: left;
        margin-right: 0.5em;
    }

    dd {
        overflow: hidden;
        margin-bottom: 8px;
    }
}

sub,
sup {
    position: relative;
    font-size: 75%;
}

sub {
    top: -0.25em;
}

sup {
    top: -0.5em;
}

strong,
b {
    font-weight: bold;
}

em,
i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

hr {
    position: relative;
    clear: both;
    margin: 12px 0;
    border: none;
    border-top: 1px solid $color-border;
    height: 0;
}

big,
span.big {
    font-size: 125%;
}

ins {
    text-decoration: none;
}

/* ---- LINKS ---- */

a {
    text-decoration: underline;
    color: $color-link;
    outline: none;

    &:hover {
        color: $color-link-visited;
    }

    &.pseudo {
        position: relative;
        text-decoration: none;
        border-bottom: 1px dotted;

        u {
            position: relative;
            text-decoration: none;
        }
    }
}

/* ---- PRICE ---- */

.price {
    span {
        margin-right: 0.1em;
    }

    ins {
        position: relative;
    }
}
