/* @import "vars.less"; */

/* ---- TEXT STYLES ---- */

h1,
.h1 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}

h2,
.h2 {
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}

h2:first-child,
.h2:first-child {
    margin-top: 0;
}

h1 + h2,
h2 + h3,
h3 + h4 {
    margin-top: 0;
}

h3,
.h3 {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}

h4,
.h4 {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin: 0 0 8px;
    text-transform: uppercase;
    color: #000000;
}

h5,
h6,
.h5,
.h6 {
    font-weight: normal;
    font-size: 1em;
    color: #000000;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    a {
        color: inherit;
        text-decoration: none;
    }
}

.text {
    font-size: 15px;
    line-height: 1.3;
    color: #000000;

    ul,
    ol {
        list-style-position: outside;
        padding-left: 32px;

        li {
            margin-bottom: 5px;
        }
    }

    p,
    ol,
    ul {
        margin-bottom: 10px;
        margin-top: 8px;
    }

    ul {
        list-style: disc;
        margin-left: 1.5em;

        li {
            position: relative;
            margin-left: 1.2em;
        }

        ul {
            margin-bottom: 0;
            list-style: circle;
        }
    }

    ol {
        list-style-type: decimal;
    }

    a {
        text-decoration: underline;

        &.pseudo {
            text-decoration: none;
            border-bottom: 1px dotted;
        }
    }

    td {
        vertical-align: top;
    }

    table[border="1"] td {
        padding: 5px 10px;
        border: 1px solid #000000;
    }

    p.more-link {
        text-align: right;
    }

    p + p.more-link,
    ol + p.more-link,
    ul + p.more-link {
        margin-top: -5px;
    }
}

@-moz-document url-prefix() {
    .text {
        padding: 0 1px;
    }
}
