/* ------ VARS -------- */

/* -------- IMAGES ---- */
$images: /i;
$icons: $images/icons;
$bg: $images/bg;

/* -------- COLORS ---- */

$color-link: #0000ff;
$color-link-active: #cc0000;
$color-link-visited: #a4368e;

$color-text: #333333;
$color-title: #0000ff;

$color-border: #333333;

/* -------- FONTS ---- */

/*
@opensans: 'Open Sans';
@roboto_condensed: 'Roboto Condensed';

.opensans{
    font-family: @opensans, Arial, Tahoma, sans-serif;
}

.roboto-condensed{
    font-family: @roboto_condensed, Arial, Tahoma, sans-serif;
}
*/
